.banner img {
  margin-bottom: 40px;
}


.intro  {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.item_elem {
  background-color: #fff;
  border: white !important;;
  border-radius: 5px;
  padding: 20px;
  width: calc(25% - 30px); /* 4개씩 배치되도록 설정 */
  box-shadow: white !important;;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.gap {
margin-top: 100px;
margin-bottom: 100px;
}

.carousel-control-prev .carousel-control-next{
	border: none;
}
