@charset "UTF-8";
.container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 15px;
        }
        .main-content {
            display: flex;
            justify-content: space-between;
            padding: 0 15px;
            max-width: 1200px;
            margin: 40px auto 40px auto;
        }
        .sidebar {
            width: 25%;
            border-right: 1px solid #ddd;
            padding-right: 20px;
        }
        .sidebar h3 {
            font-size: 16px;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .sidebar ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .sidebar ul li {
            margin-bottom: 10px;
        }
        .sidebar ul li a {
            color: #333;
            text-decoration: none;
        }
        .sidebar ul li a:hover {
            text-decoration: underline;
        }
        .content {
            width: 70%;
            padding-left: 20px;
        }
        .content h2 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .review-summary {
            background-color: #f9f9f9;
            padding: 10px;
            border: 1px solid #ddd;
            margin-bottom: 20px;
        }
        .review-summary p {
            margin: 0;
            padding: 5px 0;
        }
         .review-summary span {
            font-weight: bold;
        }
        .review-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        .review-table th, .review-table td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }
        .review-table th {
            background-color: #f8f5f0;
        }
        .review-table img {
            width: 100px;
            height: auto;
        }
        .review-table .item-name {
            font-weight: bold;
        }
        
        .review-table .item-price {
            font-weight: bold;
            color: #dc3545;
        }
        .btn-delete, .btn-edit {
            background-color: #c85855;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            
            
            
        }
        .btn-delete:hover, .btn-edit:hover {
            background-color: #444;
        }